{{define "afteroverall"}}
<script async src="/html5sortable/html5sortable.min.js"></script>

<script defer src="/firebaseui/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="/firebaseui/firebaseui.css" />

<script defer src="/jquery/jquery.min.js"></script>
<script defer src="/bootstrap/bootstrap.bundle.min.js"></script>

<script defer src="/bootstrap-select/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="/bootstrap-select/css/bootstrap-select.min.css">

<script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>

<!-- datatables.net -->
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css"/>
<script defer type="text/javascript" src="/DataTables/datatables.min.js"></script>

<script defer type="text/javascript" src="/summernote/summernote-bs4.min.js"></script>
{{end}}
