{{define "head"}}

<head>
    <title>{{if .Title}}{{.Title}}{{else}}Polyapp{{end}}</title>
    <meta name="Description" content="Polyapp can be used to create forms, enter information, and automate filling out forms.">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="{{if .IconPath}}{{.IconPath}}{{else}}/assets/giraffe192.jpg{{end}}">
    <link rel="shortcut icon" href="{{if .IconPath}}{{.IconPath}}{{else}}/assets/giraffe192.jpg{{end}}">
    <!-- matches theme_color in manifest.json -->
    <meta name="theme-color" content="#fdff85">
    <link rel="manifest" href="/manifest.json">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{if .CSSPath}}{{.CSSPath}}{{else}}/bootstrap/bootstrap.min.css{{end}}">
    <link rel="stylesheet" href="/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/bootstrap/bootstrap-reboot.min.css">

    <!-- every CSS file we own should exist here -->
    <link rel="stylesheet" href="/index.css">
    <link href="/summernote/summernote-bs4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="/main.js"></script>
    <script async src="https://use.fontawesome.com/e9ce45a312.js"></script>
</head>
{{end}}
