{{define "index"}}
<!doctype html>
<html lang="en">
{{template "head" .}}

<body id="polyappBody">

    <noscript>
        <header id="polyappNoscriptError" class="_fixed">
            <p>This website needs Javascript enabled to work properly.</p>
        </header>
    </noscript>

    <div class="spinnerOverlay" id="polyappJSSpinner">
        <div class="spinner"></div>
    </div>

    <div class="overall" id="polyappOverall">
        <div id="polyappJSToastContainer"></div>
        <nav class="topBar navbar-light bg-light" id="polyappTopBar">
            <!-- based on https://getbootstrap.com/docs/3.4/components/#navbar -->
            <span class="floatLeft">
                <a href="/" class="btn" aria-label="navigate home" id="polyappNavigateHome">
                    <img src="/assets/icons/home-24px.svg" width="24px" height="24px" alt="navigate home" class="d-inline-block align-top" />
                    <span>Polyapp</span>
                </a>
                <button class="btn" id="polyappJSNavigateChangeDomain">
                    <img src="/assets/icons/folder-24px.svg" width="24px" height="24px" alt="folder" class="d-inline-block align-top" />
                    <span>Change Domain</span>
                </button>
                <button href="/changeTask" class="btn" id="polyappJSNavigateChangeTask">
                    <img src="/assets/icons/work-24px.svg" width="24px" height="24px" alt="work" class="d-inline-block align-top" />
                    <span>Change Task</span>
                </button>
                <button href="/changeData" class="btn" id="polyappJSNavigateChangeData">
                    <img src="/assets/icons/insert_drive_file-24px.svg" width="24px" height="24px" alt="file" class="d-inline-block align-top" />
                    <span>Change Data</span>
                </button>
            </span>
            <div class="floatRight">
                <div class="d-inline-block" style="display:none!important;" id="polyappJSAutosaveSpinner">
                    <div class="d-inline-block" style="width:16px;height:4px;"><div class="autosaveSpinner"></div></div>
                    <span class="d-inline-block text-muted">saving</span>
                </div>
                <div class="dropdown d-inline-block">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" id="polyappJSSettingsDropdown">
                        <img src="/assets/icons/settings-20px.svg" width="24px" height="24px" alt="settings" class="d-inline-block align-top" />
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item pointer" id="polyappJSSignIn">Sign In</a>
                        <a class="dropdown-item pointer" id="polyappJSSignOut">Sign Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- The exact structure of the main tag is coupled to innerToAppShell() -->
        <main class="main" id="polyappJSMain">
        </main>
    </div>

{{template "afteroverall"}}

    </body>

</html>
{{end}}
